
body{
  background-image: url('https://images.unsplash.com/uploads/14116941824817ba1f28e/78c8dff1?ixlib=rb-0.3.5&s=1b18a99bd071f03f1331789065b3705a&auto=format&fit=crop&w=1280&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  color: #B3A125;
  text-align: center;
  margin: 0;
  padding: 0;
}
h1{
  margin-top: 3%;
  text-align: center;
}
p{
  margin:0;
  display: inline;

}
ul{
  display: inline;
  list-style-type: none;
  font-size: 1.7em;
}
br{
  display: inline;
}

#logo{
  width:20%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/* hr{
  text-align: center;
  color: #B3A125;
} */
#underline{
  display: inline-block;
  text-align: center;
  border-bottom: solid #B3A125 2px;
  padding-right: 60%;
  opacity: 0.7;
}
#trainer{
  position: relative;
  z-index: 1;
  margin-top: 3%;
  width: 13%;
  margin-left: 5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#greatball{
  width: 4%;
  animation: move 0.8s infinite;
  animation-delay: 3s;
}
#fadeOut{
  animation: fadeOut 4s forwards;
  animation-delay: 6s;

}
#enlarge{
  animation: enlarge 3s forwards;
  animation-delay: 6s;
}
#poke1{
  width: 20%;
  text-align: center;
  margin-left: 4%;
  padding-bottom: 2%;
}
.container{
  position: relative;
  bottom: 20em;
  left: 15em;

}
.deBlock{
  display: block;
}
.blocc{
  color: #FFDE00;
  padding-bottom: 5%;
}
.box{
  border: solid rgba(255, 222, 0, 0.5) 1px;
  display: inline-block;
  border-radius: 10%;
  padding: 1%;
  background-color: rgba(59, 76, 202, 0.4);
  margin-left: 15%;
  width: 35%;
}
.adjusted{
  position: relative;
  right: 25em;
  top: 5em;
}
.invis{
  opacity:0;
}

/* KEYFRAMES */

@keyframes move {
  0 {
    transform: translate3d(0, 0, 0);
  }
  10%, 90%{
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }


}
@keyframes fadeOut {
  0% {opacity: 1;}
  50% {opacity:0;}
  100%{opacity:0;}

}
@keyframes enlarge {
0%{
  transform: scale(1.0);
}
  80%{
  transform:scale(100.0);
  }
  100%{
    transform: scale(1.0);
  }
}
